.dashboardPage{
  min-height:100vh;
  background:#050816;
  color:white;
  padding:30px;
}

.dashboardPage h1{
  margin-bottom:30px;
}

.statsGrid{
  display:grid;
  grid-template-columns:
  repeat(auto-fit,minmax(250px,1fr));
  gap:25px;
}

.statCard{
  background:#111827;
  padding:30px;
  border-radius:15px;
  text-align:center;
}

.statCard h2{
  color:#8b5cf6;
  font-size:40px;
}

.statCard p{
  margin-top:10px;
}