.navbar{

    height:80px;

    background:#091126;

    display:flex;

    align-items:center;

    justify-content:space-between;

    padding:0 25px;

    border-bottom:1px solid rgba(255,255,255,.08);

    position:sticky;

    top:0;

    z-index:999;

}
.navLeft{

    width:240px;

    display:flex;

    align-items:center;
    padding-top: 21px;

}

.logo{

    color:white;

    font-size:30px;

    font-weight:700;

    cursor:pointer;

    white-space:nowrap;

}

.searchBox{

    flex:1;

    display:flex;

    justify-content:center;

}

.searchBox input{

    width:420px;

}
.searchBox{

    flex:1;

}

.searchBox input{

    width:420px;

    height:45px;

    border:none;

    outline:none;

    border-radius:30px;

    background:#1e293b;

    color:white;

    padding:0 18px;

    font-size:15px;

}

.searchBox input::placeholder{

    color:#94a3b8;

}

.navRight{

    display:flex;

    align-items:center;

    gap:25px;

    position:relative;

}

.bell{

    color:white;

    font-size:24px;

    cursor:pointer;

}

.profile{

    color:white;

    font-weight:600;
    font-size: 23px;

    cursor:pointer;

    position:relative;

    user-select:none;

}

.dropdown{

    position:absolute;

    top:60px;

    right:0;

    width:220px;

    background:#172554;

    border-radius:12px;

    overflow:hidden;

    box-shadow:0 8px 20px rgba(0,0,0,.35);

}

.dropdown div{

    padding:14px 18px;

    color:white;

    cursor:pointer;

    transition:.3s;

}

.dropdown div:hover{

    background:#7c3aed;

}

.logout{

    color:#ff8080;

}